@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Ubuntu', sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}

ul,li{
  list-style: none;
}

:root{
  --color-white: rgba(220,218,218);
  --background-color: rgb(17,17,17);
  --color-dark: rgb(23,24,24);
  --color-green: rgb(92,223,92)
}